@if (user(); as user) {

<div class="container">
  <div class="aside">
    <div class="top">
      <input class="search" type="search" title="Search" placeholder="Search" />
      <div class="section">
        <h2 class="title">ME</h2>
        <ul class="links">
          <li><a class="link" routerLink="/me/career-path" routerLinkActive="active">Career Path</a></li>
        </ul>
      </div>

      <div class="section">
        <h2 class="title">TEAM</h2>
        <ul class="links">
          <li><a class="link" routerLink="/team/employees" routerLinkActive="active">Employees</a></li>
        </ul>
      </div>

      <div class="section">
        <h2 class="title">COMPANY</h2>
        <ul class="links">
          <li><a class="link" routerLink="/company/career-paths" routerLinkActive="active">Career Paths</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <a class="user" routerLink="/login">
        <img class="avatar" [src]="avatar(user.id)" alt="" />{{ user.name }}</a>
    </div>
  </div>
  <router-outlet />
</div>
}