<div class="container">
  <div class="aside">
    <div class="top">
      <input class="search" type="search" title="Search" placeholder="Search" />
      <div class="section">
        <h2 class="title">ME</h2>
        <ul class="links">
          <li><a class="link" routerLink="/me/career-path" routerLinkActive="active">Career Path</a></li>
        </ul>
      </div>

      <div class="section">
        <h2 class="title">TEAM</h2>
        <ul class="links">
          <li><a class="link" routerLink="/team" routerLinkActive="active">Employees</a></li>
        </ul>
      </div>

      <div class="section">
        <h2 class="title">COMPANY</h2>
        <ul class="links">
          <li><a class="link" routerLink="/company/carrer-paths" routerLinkActive="active">Career Paths</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <a class="user" routerLink="/auth/logout">
        <img class="avatar" src="https://i.pravatar.cc/40" alt="" />Employees</a>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>