.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: hsl(0, 0%, 100%);
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px hsl(0, 0%, 80%);
  margin-bottom: 32px;
}

.header-in {
  height: 70px;
  display: flex;
  align-items: center;
}

.title {
  flex: 1;
}

.buttons {
  display: flex;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}