* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: hsl(0, 0%, 10%);
    letter-spacing: 0.4px;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: inline-flex;
}

ul {
    list-style: none;
}

.header-nav {
    display: flex;
    width: 800px;
    gap: 8px;
    padding: 8px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 8px;
}

.header-nav .link {
    color: hsl(0, 0%, 25%);
    text-decoration: none;
    display: flex;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
}

.header-nav .link:hover {
    background-color: hsl(0, 0%, 80%);
}

.header-nav .link.active {
    background-color: hsl(0, 0%, 100%);
    font-weight: 600;
}

h1.title {
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 10%);
}

.btn {
    cursor: pointer;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 8px;
    padding: 10px 20px;
    background: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.btn:hover {
    background: hsl(0, 0%, 30%);
}