<div class="header-nav">
  <a class="link" routerLink="./" routerLinkActive="active">Profile</a>
  <a class="link" routerLink="career-path" routerLinkActive="active"
    >Career path</a
  >
  <a class="link" routerLink="one-on-ones" routerLinkActive="active"
    >One on ones</a
  >
  <a class="link" routerLink="performance-reviews" routerLinkActive="active"
    >Performance reviews</a
  >
  <a class="link" routerLink="training-budgets" routerLinkActive="active"
    >Training budgets</a
  >
  <a class="link" routerLink="documents" routerLinkActive="active">Documents</a>
</div>

@if (user(); as user) {
<div class="user">
  <img class="avatar" [src]="avatar(user.id)" alt="{{ user.name }}" />
  <div class="info">
    <h2 class="name">{{ user.name }}</h2>
    <div class="level">{{ user.skillLevel }}</div>
  </div>
</div>
}

<router-outlet />
