:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  overflow: auto;
}

.user {
  min-width: 1000px;
  display: flex;
  gap: 16px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 2px hsl(0, 0%, 80%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 26px;
  font-weight: 500;
}

.level {
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 13px;
}
