<div class="header-nav">
  <a class="link" routerLink="profile" routerLinkActive="active">Profile</a>
  <a class="link" routerLink="career-path" routerLinkActive="active"
    >Career path</a
  >
  <a class="link" routerLink="one-on-ones" routerLinkActive="active"
    >One on ones</a
  >
  <a class="link" routerLink="performance-reviews" routerLinkActive="active"
    >Performance reviews</a
  >
  <a class="link" routerLink="training-budgets" routerLinkActive="active"
    >Training budgets</a
  >
  <a class="link" routerLink="documents" routerLinkActive="active">Documents</a>
</div>

<router-outlet />
